/* flex wrap */
.flexContainer {
    display: flex;
    /* flex-wrap: wrap; */
}

/* Flex Direction */
.flexContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
}

/* Flex grow - Willingnes to grow */
.flexItem1 {
    flex-grow: 1;
}

.flexItem2 {
    flex-grow: 2;
}


.flexItem3 {
    flex-grow: 0;
}

/* Flex shrink - Willingness to shrink */

.flexItem1 {
    flex-shrink: 1;
}

.flexItem2 {
    flex-shrink: 0;
}


.flexItem3 {
    flex-shrink: 2;
}